/* line 10, ../sass/main.scss */
body {
  font-family: Arial;
  font-size: 24px;
}

/* line 15, ../sass/main.scss */
.clear {
  clear: both;
}

/* line 19, ../sass/main.scss */
#window {
  height: 800px;
  width: 480px;
  border: 1px solid black;
  margin: 0 auto;
}

/* line 26, ../sass/main.scss */
#androidtoolbar {
  height: 38px;
  width: 480px;
  background-color: black;
}

/* line 36, ../sass/main.scss */
#menu {
  background-color: #19b99a;
  height: 70px;
  padding: 0px;
  margin: 0px;
}

/* line 43, ../sass/main.scss */
#menu a {
  float: left;
  display: inline-block;
  height: 100%;
  width: 70px;
}

/* line 50, ../sass/main.scss */
#menu a:last-child {
  float: right;
}

/* line 54, ../sass/main.scss */
#menu a:hover {
  background-color: #138c75;
}

/* line 58, ../sass/main.scss */
#menu a img {
  padding: 15px;
}

/* line 62, ../sass/main.scss */
#appname {
  background-color: #ecf0f1;
  height: 40px;
}

/* line 67, ../sass/main.scss */
#projectname {
  background-color: #ecf0f1;
  height: 40px;
  font-size: 20px;
}
/* line 71, ../sass/main.scss */
#projectname #namecontainer {
  color: black;
  float: left;
  position: relative;
  left: 50%;
}
/* line 76, ../sass/main.scss */
#projectname #namecontainer span.name {
  float: left;
  position: relative;
  left: -50%;
  line-height: 40px;
  font-weight: bold;
}
/* line 83, ../sass/main.scss */
#projectname #namecontainer .triangle {
  position: relative;
  left: -50%;
  float: left;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 9px 7.5px 0 7.5px;
  border-color: #000000 transparent transparent transparent;
  margin: 16px 0 0 7px;
}

/* line 100, ../sass/main.scss */
.ttasks {
  width: 100%;
  border-collapse: collapse;
}
/* line 103, ../sass/main.scss */
.ttasks th {
  font-size: 20px;
  text-align: left;
  background-color: #34495e;
  color: #ecf0f1;
  line-height: 30px;
}
/* line 110, ../sass/main.scss */
.ttasks th:first-child, .ttasks td:first-child {
  padding-left: 10px;
}
/* line 113, ../sass/main.scss */
.ttasks td:first-child {
  color: #34495e;
}
/* line 118, ../sass/main.scss */
.ttasks td {
  border-bottom: 1px solid #d5d5d5;
  line-height: 70px;
  color: #666666;
}
/* line 124, ../sass/main.scss */
.ttasks .centeralign {
  text-align: center;
}
