/* line 6, ../sass/main.scss */
#window {
  height: 800px;
  width: 480px;
  border: 1px solid black;
  margin: 0 auto;
}

/* line 13, ../sass/main.scss */
#androidtoolbar {
  height: 38px;
  width: 480px;
  background-color: black;
}

/* line 23, ../sass/main.scss */
#menu {
  background-color: #19b99a;
  height: 70px;
  padding: 0px;
  margin: 0px;
}

/* line 30, ../sass/main.scss */
#menu a {
  float: left;
  display: inline-block;
  height: 100%;
  width: 70px;
}

/* line 37, ../sass/main.scss */
#menu a:last-child {
  float: right;
}

/* line 41, ../sass/main.scss */
#menu a:hover {
  background-color: #138c75;
}

/* line 45, ../sass/main.scss */
#menu a img {
  padding: 15px;
}

/* line 49, ../sass/main.scss */
#appname {
  background-color: #ecf0f1;
  height: 40px;
}
