@import 'compass';

$turquoise: #19b99a;
$clouds: #ECF0F1;
 
#window{
	height: 800px;
	width: 480px;
	border: 1px solid black;
	margin: 0 auto;
}

#androidtoolbar{
	height: 38px;
	width: 480px;
	background-color: black;
}

#app{
	
}

#menu{
	background-color: $turquoise;
	height: 70px;
	padding: 0px;
	margin: 0px;
}

#menu a{
	float: left;
	display: inline-block;
	height: 100%;
	width: 70px;
}

#menu a:last-child {
	float: right;
}

#menu a:hover{
	background-color: darken($turquoise, 10%);
}

#menu a img{
	padding: 15px;
}

#appname{
	background-color: $clouds;
	height: 40px;
}