@import 'compass';

$turquoise: #19b99a;
$clouds: #ECF0F1;
 
body{
	font-family: Arial;
	font-size: 20px;
} 
 
#window{
	height: 800px;
	width: 480px;
	border: 1px solid black;
	margin: 0 auto;
}

#androidtoolbar{
	height: 38px;
	width: 480px;
	background-color: black;
}

#app{
	
}

#menu{
	background-color: $turquoise;
	height: 70px;
	padding: 0px;
	margin: 0px;
}

#menu a{
	float: left;
	display: inline-block;
	height: 100%;
	width: 70px;
}

#menu a:last-child {
	float: right;
}

#menu a:hover{
	background-color: darken($turquoise, 10%);
}

#menu a img{
	padding: 15px;
}

#appname{
	background-color: $clouds;
	height: 40px;
}

#projectname{
	background-color: $clouds;
	height: 40px;
	#namecontainer{
		float: left; 
		position: relative; 
		left: 50%;
		span.name {
			float: left; 
			position: relative; 
			left: -50%;
			line-height: 40px;
			font-weight: bold;
		}
		.triangle{
			position: relative; 
			left: -50%;
			float: left;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 9px 7.5px 0 7.5px;
			border-color: #000000 transparent transparent transparent;
			margin: 16px 0 0 7px;
		}
	}
}



.clear{
    clear: both;
}