.ui-navbar .ui-btn-up-a {
	background: #19b99a;
	background-image: none;
}

.ui-navbar .ui-btn-hover-a {
	background: #16A085;
	background-image: none;
}

.ui-navbar .ui-btn-down-a {
	background: #148c74;
}

.ui-header .ui-title{
	margin: .6em 30% .6em;
}



.form_fail{
	color: red;
	display: none;
	text-align: center;
}

#loginPage{
	display: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -75px;
}


.login_logo{
	display: block; margin-left: auto; margin-right: auto;
}

#errorpage_msg{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

#viewrelease_progressbar_status{
	text-align: center;
	width: 100%;
}

.ui-widget-header{
	background: #16A085 !important;
	border: 1px solid #16A085 !important;
}

.ui-widget-content{
	border: 1px solid #333333 !important;
}

#menu_button_menu{
	background-color: #000;
	position: absolute;
	bottom: 0px;
	z-index: 1000;
	text-align: center;
	width: 100%;
	padding: 15px;
	display: none;
}

#menu_button_menu a{
	color: white;
	font-size: 24px;
	font-family: Arial;
	text-decoration: none;
	font-weight: bold;
	text-shadow: none;
}