.ui-navbar .ui-btn-up-a {
	background: #19b99a;
	background-image: none;
}

.ui-navbar .ui-btn-hover-a {
	background: #16A085;
	background-image: none;
}

.ui-navbar .ui-btn-down-a {
	background: #148c74;
}

.ui-header .ui-title{
	margin: .6em 30% .6em;
}



.form_fail{
	color: red;
	display: none;
	text-align: center;
}

#loginPage{
	display: none;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -170px;
  margin-left: -75px;
}


.login_logo{
	display: block; margin-left: auto; margin-right: auto;
}

#errorpage_msg{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}